<div id="graphrawdata" th:fragment="graphrawdata">
	<table class="table table-striped" id="graphtable">
			<thead>
				<tr>
				</tr>
			</thead>
			<tbody>
				<!--tr th:each="item:${resultSet.result}">
					<th scope="row" th:text="${item.id}">1</th>
					<td th:text="${item.colValue}"></td>
					<td th:text="${item.colValue}"></td>
					<td th:text="${item.colValue}"></td>
					<td th:text="${item.colValue}"></td>
					<td th:text="${item.colValue}"></td>
				</tr-->
			</tbody>
		</table>

	</div>
</div>